header{
    /*height: 200px;*/
}

/*#region nav*/
header nav{
    vertical-align: top;
    text-align: right;
    margin-right: 10%;
    margin-top: 25px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
    color: black;
    border-bottom: solid;
    border-bottom-color: white;
    transition-duration: .3s;
}

nav a:hover {
    padding: 5px;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

nav a:active{
    
}

.active-page-buttun {
    border-bottom: solid;
    border-bottom-color: rgb(111, 111, 111);
}
/*#endregion*/

/*#region test page*/
header h1{
    font-size: 40px;
    text-align: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}    

section{
    display: block;
}

.question{
    margin-top: 20px;
    margin-left: 19%;
    width: 62%;
}

.question h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(78, 78, 78);
    vertical-align: central;
}

b{
    color: black;
    font-size: 28px;
}

.buttons{
    margin-top: 20px;
    height: 60px;
}

.buttons input{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 100%;
    text-transform: uppercase;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(32, 32, 32);
    border: 2px solid black;
    border-color: black;
    color: white;
    border-radius: 20px;
    outline: none;
    transition: .5s;
}

.buttons input:hover{
    background: white;
    color: black;
}

.buttons input:active{
    background: rgb(236, 255, 65);
    color: black;
}
 /*#endregion*/

.text a {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

@media screen and (min-width:200px) and (max-width:1024px) {
header{
}

/*#region nav*/
header nav{
    vertical-align: top;
    text-align: right;
    margin-right: 10%;
    margin-top: 25px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
    color: black;
    border-bottom: solid;
    border-bottom-color: white;
    transition-duration: .3s;
}

nav a:hover {
    padding: 5px;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

nav a:active{
    
}

.active-page-buttun {
    border-bottom: solid;
    border-bottom-color: rgb(111, 111, 111);
}
/*#endregion*/

/*#region test page*/
header h1{
    font-size: 40px;
    text-align: center;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}    

section{
    display: block;
}

.question{
    margin-top: 20px;
    width: 62%;
}

.question h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(78, 78, 78);
    vertical-align: central;
}

b{
    color: black;
    font-size: 28px;
}

.buttons{
    margin-top: 20px;
    height: 60px;
}

.buttons input{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 100%;
    text-transform: uppercase;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(32, 32, 32);
    border-color: black;
    color: white;
    border-radius: 20px;
    outline: none;
    transition: .5s;
}

.buttons input:hover{
    background: white;
    color: black;
}

.buttons input:active{
    background: rgb(236, 255, 65);
    color: black;
}
 /*#endregion*/

.text a {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

}

